POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB_NAME=authorization
POSTGRES_USER=authorization
POSTGRES_PASSWORD=authorization
POSTGRES_ECHO=false
POSTGRES_ECHO_POOL=false
POSTGRES_POOL_SIZE=5
POSTGRES_MAX_OVERFLOW=10

PASSWORD_HASHER_CONCURRENCY_LIMIT=4
PASSWORD_HASHER_WAIT_TIMEOUT_S=5.0
PASSWORD_HASHER_THREAD_POOL_SIZE=4
PASSWORD_HASHER_PEPPER="J9zKljR+82sP9XmNq2Yg/5Fv3kL1z7XbQwEeR4tY6uI="

TOKEN_SECRET_KEY="J9zKljR+82sP9XmNq2Yg/5Fv3kL1z7XbQwEeR4tY6uI="
TOKEN_ALGORITHM=HS256
TOKEN_ACCESS_EXPIRE_MINUTE=30
TOKEN_REFRESH_EXPIRE_DAY=7

LOG_LEVEL=INFO

RATE_LIMIT_LOGIN_MAX_ATTEMPTS=5
RATE_LIMIT_LOGIN_WINDOW_SECONDS=60

COOKIE_REFRESH_TOKEN_KEY=refresh_token
COOKIE_SECURE=false
COOKIE_HTTPONLY=true
COOKIE_SAMESITE=lax
